<template>
  <form class="form-inline" @submit.prevent="onSubmit">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" v-model="text" />
        <button class="input-group-addon btn btn-default" type="submit">
          Add Layer
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AddLayer',
  data: function () {
    return {
      text: ''
    }
  },
  methods: {
    ...mapActions('entities/layers', [
      'addLayerByText'
    ]),
    onSubmit (e) {
      this.addLayerByText(this.text)
      this.text = ''
    }
  }
}
</script>
