<template>
  <div
    class="row"
    @keyup.esc="onKeyUp">
    <Modal></Modal>
    <Map></Map>
    <Layers></Layers>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import 'bootstrap/dist/css/bootstrap.min.css'

import Modal from './Modal'
import Map from './Map'
import Layers from './Layers'

export default {
  name: 'App',
  components: {
    Modal,
    Map,
    Layers
  },
  computed: {
    ...mapGetters('ui/modal', [
      'shown'
    ])
  },
  methods: {
    ...mapMutations('ui/modal', {
      hideModal: 'hide'
    }),
    onKeyUp (e) {
      if (this.shown) {
        this.hideModal()
      }
    }
  }
}
</script>
