<template>
  <div v-if="editableLayer" class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Layer</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        @click="hideModal">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form id="edit-layer-form" @submit.prevent="onSubmit">
        <div class="form-group">
          <label htmlFor="text-name" class="col-form-label">Text:</label>
          <input
            type="text"
            class="form-control"
            id="text-name"
            :value="editableLayer.text"
            @input="onInput"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        @click="hideModal"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-primary"
        @click="onSubmit"
      >
        Save
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'EditLayer',
  data: function () {
    return {
      text: ''
    }
  },
  computed: {
    ...mapGetters('entities/layers', [
      'editableLayer'
    ])
  },
  methods: {
    ...mapMutations('ui/modal', {
      hideModal: 'hide'
    }),
    ...mapActions('entities/layers', [
      'editLayerText'
    ]),
    onInput (e) {
      this.text = e.target.value
    },
    onSubmit (e) {
      this.editLayerText({ layer: this.editableLayer, text: this.text })
      this.hideModal()
    }
  }
}
</script>
