<template>
  <span v-if="!inited" class="alert alert-info">Map Initialization...</span>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Initialization',
  computed: {
    ...mapGetters('ui/map', [
      'inited'
    ])
  }
}
</script>
