<template>
  <div
    @click="onClick"
    :class="{'list-group-item': true, active: active === layer.id}"
    role="group"
    aria-label="...">
      <span class="badge">{{ layer.markers.length }}</span>
      <span>{{ layer.text }}</span>
      <div class="btn-group float-right">
        <button
          type="button"
          class="btn btn-info"
        >
          {{ icons.checkHeavy }}
        </button>
        <button
          type="button"
          class="btn btn-warning"
        >
          {{ icons.pencil }}
        </button>
        <button
          type="button"
          class="btn btn-danger"
        >
          {{ icons.cancel }}
        </button>
      </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import icons from 'glyphicons'

import { Layer } from '@/models'

export default {
  name: 'Layer',
  props: {
    layer: {
      required: true,
      type: Layer
    }
  },
  data: function () {
    return {
      icons: icons
    }
  },
  computed: {
    ...mapGetters('entities/layers', [
      'active'
    ])
  },
  methods: {
    ...mapMutations('entities/layers', [
      'setActive'
    ]),
    ...mapActions('entities/layers', [
      'saveLayer',
      'destroyLayer'
    ]),
    ...mapMutations('ui/modal', {
      showModal: 'show',
      setEditable: 'setEditable'
    }),
    onClick (e) {
      let classList = e.target.classList
      if (classList.contains('btn-danger')) {
        this.destroyLayer(this.layer)
      } else if (classList.contains('btn-warning')) {
        this.setEditable(this.layer.id)
        this.showModal()
      } else if (classList.contains('btn-info')) {
        this.saveLayer(this.layer)
      } else {
        this.setActive(this.layer.id)
      }
    }
  }
}
</script>
