<template>
  <div class="list-group">
    <span v-if="fetching" class="alert alert-info">Loading...</span>
    <template v-else-if="loaded">
      <Layer
        v-for="layer in layers"
        :key="layer.id"
        :layer="layer">
      </Layer>
    </template>
    <span v-else class="alert alert-warning">Error</span>
    <AddLayer></AddLayer>
    <Initialization></Initialization>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import Layer from './Layer'
import AddLayer from './AddLayer'
import Initialization from './Initialization'

export default {
  name: 'Layers',
  components: {
    Layer,
    AddLayer,
    Initialization
  },
  computed: {
    ...mapGetters('entities/layers', [
      'layers',
      'fetching',
      'loaded'
    ])
  },
  created () {
    this.getLayers()
  },
  methods: {
    ...mapActions('entities/layers', [
      'getLayers'
    ])
  }
}
</script>
