<template>
  <div id="mapid" ></div>
</template>

<script>
import L from 'leaflet'
import { mapGetters, mapMutations, mapActions } from 'vuex'

import { eachObject, removeById } from '@/utils'

export default {
  name: 'Map',
  data: function () {
    return {
      map: {},
      groups: {},
      mapMarkers: {}
    }
  },
  computed: {
    ...mapGetters('ui/map', [
      'inited'
    ]),
    ...mapGetters('entities/layers', [
      'active'
    ]),
    ...mapGetters('entities/markers', [
      'markers',
      'markersNotEmpty'
    ])
  },
  mounted () {
    this.createMap()
  },
  beforeDestroy () {
    this.map.remove()
  },
  watch: {
    active (active) {
      eachObject(this.groups, (group) => {
        group.remove()
      })
      this.getGroupById(active).addTo(this.map)
    },
    markersNotEmpty (b) {
      if (b) {
        this.initMapMarkers()
      }
    }
  },
  methods: {
    ...mapMutations('ui/map', [
      'init'
    ]),
    ...mapActions('entities/markers', [
      'addMarker',
      'removeMarker'
    ]),
    createMap () {
      var map = this.initMap()
      this.setTile(map)
      map.on('click', this.onMapClick)
      this.map = map
    },
    initMap () {
      return L.map('mapid').setView([51.505, -0.09], 13)
    },
    setTile (map) {
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(map)
    },
    initMapMarkers () {
      if (!this.inited && this.markersNotEmpty) {
        eachObject(this.markers, (marker) => {
          this.addMapMarker(marker)
        })
        this.$store.subscribeAction((action, state) => {
          if (action.type === 'entities/layers/destroyLayer') {
            this.destroyLayer(action.payload)
          }
        })
        this.init()
      }
    },
    addMapMarker (marker) {
      var mapMarker = L.marker(marker.latLng).on('click', this.onMarkerClick(marker))
      this.mapMarkers = {
        ...this.mapMarkers,
        [marker.id]: mapMarker
      }
      this.getGroupById(marker.layerId).addLayer(mapMarker)
    },
    getGroupById (id) {
      var group = this.groups[id]
      if (group) {
        return group
      } else {
        group = L.layerGroup()
        this.groups = {
          ...this.groups,
          [id]: group
        }
        return group
      }
    },
    onMapClick (e) {
      var classList = e.originalEvent.target.classList
      if (!classList.contains('leaflet-marker-icon')) {
        this.createMarker(e)
      }
    },
    createMarker (e) {
      var latLng = [e.latlng.lat, e.latlng.lng]
      var layerId = this.active
      if (layerId >= 0) {
        this.addMarker({ latLng, layerId }).then(this.addMapMarker)
      }
    },
    onMarkerClick (marker) {
      return (e) => this.removeAndDestroyMarker(marker, e.target)
    },
    removeAndDestroyMarker (marker, mapMarker) {
      this.getGroupById(marker.layerId).removeLayer(mapMarker)
      this.destroyMarker(marker, mapMarker)
    },
    destroyMarker (marker, mapMarker) {
      this.mapMarkers = removeById(this.mapMarkers, marker.id)
      mapMarker.remove()
      this.removeMarker(marker)
    },
    destroyGroupById (id) {
      var group = this.groups[id]
      if (group) {
        group.clearLayers()
        group.remove()
        this.groups = removeById(this.groups, id)
      }
    },
    destroyLayer (layer) {
      layer.markers.forEach((id) => {
        this.destroyMarker(this.markers[id], this.mapMarkers[id])
      })
      this.destroyGroupById(layer.id)
    }
  }
}
</script>

<style>
#mapid { height: 500px; width: 500px;}
</style>
