<template>
  <div
    class="modal fade"
    :class="{show: shown}"
    tabIndex="-1"
    role="dialog"
    :style="modalStyle"
    @click="onClick">
    <div class="modal-dialog" role="document">
      <EditLayer></EditLayer>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import EditLayer from './EditLayer'

export default {
  name: 'Modal',
  components: {
    EditLayer
  },
  computed: {
    ...mapGetters('ui/modal', [
      'shown'
    ]),
    modalStyle () {
      return this.shown ? {display: 'block', 'padding-right': '15px'} : {}
    }
  },
  methods: {
    ...mapMutations('ui/modal', {
      hideModal: 'hide'
    }),
    onClick (e) {
      if (this.shown) {
        var p = e.target
        while (p) {
          if (p.classList.contains('modal-content')) {
            return
          } else {
            if (p.classList.contains('modal')) break
            p = p.parentElement
          }
        }
        this.hideModal()
      }
    }
  }
}
</script>
